# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# =========================
# Terraform
# =========================

# Local terraform state
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log

*.zip